html,body {
    width:100%;
    height:100%;
}

html {
    scroll-snap-type:y mandatory;
}

.item {
    width:100%;
    height:100%;

    scroll-snap-align:center;
    scroll-snap-stop:always;
}

.item:nth-child(1){
    background:green;
}
.item:nth-child(2){
    background:blue;
}
.item:nth-child(3){
    background:yellow;
}
